.Topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 0 40px;
    background-color: #28325b;
    border-bottom: 0px;
}

.Topbar__name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.Topbar__logo {
    width: 95px;
    height: 95px;
    position: absolute;
    top: 8px;
    left: 415px;
    scale: 0.7;
}


/*align Topbar__clock to the right*/
.Topbar__clock {
    position: absolute;
    top: 65px;
    right: 0;
    margin: 0 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #5295ee;
    letter-spacing: -1px;
}



.Topbar__list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    color: white !important;
    text-decoration: none;
}

.Topbar__list >ul{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
}

.Topbar__list >ul >li{
    padding: 0 100px;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 500;
}

.server-time{
    position: absolute;
    top: 65px;
    right: 0;
    margin: 0 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #5295ee;
    letter-spacing: -1px;
}




